body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 40px;
}
.img-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}
li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
section{
    padding: 40px 40px;
    /*display: flex;*/
}
.heading-left{
    text-align: center;
}
.heading-right img{
    width: 200px;
    height: 200px;

}
.button-red{
    background-color: red;
    color: white;
   
}
.button-nude{
    background-color: white;
    color: red;
}
section hr{
    width: 20%;
    color: ;
}
li a:hover{
    color: red;
    letter-spacing: 0.2em;
}
.top{
    color: grey;
}
.lien{
    display: flex;
    gap: 150px;
}
.button-red12{
    inline-size: 170px;
    background-color: rgb(229, 49, 49);
    color: white;
}
.btn{
    margin-right: 90%;
    display: flex;
    gap: 6px;
    padding: 40px;
}
.cadres{
    display: flex;
}
.text{
    display: flex;
    gap: 10px;
}
.div-lien{
    color: red;

}
.img-teams{
    display: flex;
    gap: 50px;

}
img{
    width:200px ;
    height: 200px;
}